[Unit]
Description=MySTL Agent application
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=www-data

WorkingDirectory=/opt/mystl-agent/
ExecStart=bash /opt/mystl-agent/run.sh

[Install]
WantedBy=multi-user.target
